<nz-layout class="app-frame">
  <nz-header class="app-toolbar">
  </nz-header>

  <nz-content>    
    <div class="app-workbench" fxLayout="row" fxLayoutAlign="space-between">
      <div class="app-activitybar"></div>
      <as-split unit="percent" direction="horizontal" gutterSize="5" class="app-split-container">
        <as-split-area size="20">
          <div class="app-sidebar">
            <app-hosts></app-hosts>
          </div>
        </as-split-area>
        <as-split-area size="80">
          <as-split unit="percent" direction="vertical" gutterSize="2">
            <as-split-area size="80">
             <app-terminals-container></app-terminals-container>
            </as-split-area>
            <as-split-area size="20">
              <div class="app-cmd-container" fxLayout="column" fxLayoutAlign="start stretch">
                <mat-toolbar class="app-cmd-bar">My App</mat-toolbar>
                <textarea matInput placeholder="请在此处输入命令，按回车键发送" class="app-cmd-input"></textarea>
              </div>
            </as-split-area>
          </as-split>
        </as-split-area>
      </as-split>
    </div>
  </nz-content>

  <nz-footer class="app-statusbar">Ant Design ©2019 Implement By Angular</nz-footer>
</nz-layout>